<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="isAutoUpdateEnabled" value="false"/>

		<add key="ipAddress" value="195.144.107.198"/>
		<add key="port" value="22"/>
		<add key="user" value="demo"/>
		<add key="password" value="password"/>

		<add key="sftpBaseDirectory" value="/"/>
		<add key="targetFolderNames" value="pub;"/>

		<add key="folderNamesNotToUpdate" value="net6.0-windows10.0.17763.0;net6.0-windows"/>
		<add key="filesNotToUpdate" value="WinFormClient.png;"/>

		<add key="executeFileDirectory" value="C:\Users\seman\source\repos\updater-using-sftp\updater-using-sftp\bin\Debug\net6.0-windows\Updater.exe;"/>
		<add key="selectedFileModelIndex" value="1"/>
	</appSettings>
</configuration>